body {
  padding: 50px;
  font: 16px;
  font-family: 'Noto Serif', serif;
  background: url('./alexa.jpg') no-repeat center center fixed;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	 font-weight: bold;
	 color: #e8e3e3;

}
